body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background: radial-gradient(circle, #efefef 0%, #b9deed 100%);
	background-color: #f4f4f4;
}

h1 {
	color: #333;
}

.button {
	padding: 15px 30px;
	font-size: 16px;
	color: white;
	background-color: #0070f3;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

.button:hover {
	background-color: #005bb5;
}

/* CONFIGURATION PAGE */
form {
	display: flex;
	flex-flow: column nowrap;
	gap: 2rem;
}

fieldset {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	padding-block: 1rem;
}

legend {
	font-weight: bold;
}

.radio-button {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
	padding: 0.5rem;
	border: 1px solid grey;
	border-radius: 8px;
}
