:root {
	--clr-dark: #1e1e1e;
	--clr-light: white;
	--clr-bg: #fff9f3;
	--clr-accent: #e44232;
	--clr-accent-dark: #c3392c;
	--clr-disabled: rgb(118, 118, 118);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                         */
/*      APP FRAME                          */
/*                                         */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--clr-bg);
}

.app-frame {
	width: 350px;
	height: 100svh;
	margin-inline: 8vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                         */
/*      APP HEADER                         */
/*                                         */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.app-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1rem;
}

h1 {
	font-size: 1.875rem;
	color: var(--clr-dark);
}

h3 {
	font-size: 1.125rem;
	line-height: 1.25;
	font-weight: normal;
}

.logo-banner {
	font-size: 1.5rem;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	gap: 1.25rem;

	transition: font-size 1s ease 1s;
}

.logo-container {
	width: 40px;
	height: 40px;
	transition: width 1s ease 1s, height 1s ease 1s;
}

.logo-banner-large {
	font-size: 2rem;
}

.logo-banner-large .logo-container {
	width: 60px;
	height: 60px;
}

#nbaLogoContainer {
	border: 1px solid lightgray;
	border-radius: 6px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: auto;
	transition: width 1s ease 1s, height 1s ease 1s;
}

#nbaLogoContainer img {
	transform: scale(90%);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                         */
/*      BUTTONS                            */
/*                                         */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.button {
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: var(--clr-light);

	width: 100%;
	padding: 15px 30px;
	border: none;
	border-radius: 8px;

	background-color: var(--clr-accent);

	cursor: pointer;

	transition: transform 0.1s ease;
}

.button-secondary {
	background-color: var(--clr-light);
	color: var(--clr-accent);
	border: 1px solid var(--clr-accent);
}

.button-primary:hover {
	background-color: var(--clr-accent-dark);
}

.button:active {
	transform: scale(0.95);
}

.button:disabled {
	background-color: var(--clr-disabled);
	cursor: not-allowed;
}

/* Prevent hover and active styles for disabled buttons */
.button:disabled:hover,
.button:disabled:active {
	background-color: var(--clr-disabled);
	transform: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                         */
/*      LANDING PAGE                       */
/*                                         */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.button-container {
	width: 25ch;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                         */
/*      FORM PAGE                          */
/*                                         */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
form {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	gap: 2.5rem;

	opacity: 1;
	transition: opacity 1s ease, transform 1s ease;
}

form.fade-out {
	opacity: 0;
	transform: translateX(-50px); /* Move it to the left */
}

fieldset {
	display: flex;
	flex-flow: column nowrap;
	gap: 1.5rem;
	padding-block: 2rem;
	padding-inline: 1rem 2rem;
	/* border: 1px solid var(--clr-accent); */
}

fieldset#projectPicker {
	padding-top: 1.5rem;
}

legend {
	font-size: 1.125rem;
	font-weight: bold;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 1ch;
	padding-inline: 0.5ch;
	color: var(--clr-accent);
}

/* .step {
	display: none;
	padding: 0.5ch 1.125ch;
	border-radius: 50%;
	background-color: lightgray;
} */

select {
	height: 2.25rem;
	font-size: 1rem;
	color: var(--clr-dark);
	width: 100%;
	padding-block: 0.25rem;
	padding-inline: 0.5ch;
}

#newProject {
	height: 3.5rem;
}

.radio-button {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 1rem;
}

.radio-button span {
	width: 240px;
}

input[type="radio"] {
	width: 1.5em; /* Increase width */
	height: 1.5em; /* Increase height */
	accent-color: var(--clr-accent); /* Optional: Change color if supported */
}

label.disabled {
	color: var(--clr-disabled);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                         */
/*      CONFIRMATION PAGE                  */
/*                                         */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
