body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	height: 100vh;
	margin: 0;
	background: radial-gradient(circle, #efefef 0%, #b9deed 100%);
	background-color: #f4f4f4;
}

h1 {
	color: #333;
}

.button {
	padding: 15px 30px;
	font-size: 16px;
	color: white;
	background-color: #0070f3;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

.button:hover {
	background-color: #005bb5;
}

/* CONFIGURATION PAGE */
form {
	display: flex;
	flex-flow: column nowrap;
	gap: 2rem;
}

fieldset {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	padding-block: 2rem;
	padding-inline: 1rem 2rem;
}

legend {
	font-size: 1.25rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 1ch;
	padding-inline: 1ch;
}

.step {
	padding: 0.5ch 1.125ch;
	border-radius: 50%;
	background-color: lightgray;
}

select {
	font-size: 1rem;
	width: 100%;
	padding-block: 0.25rem;
	padding-inline: 0.5ch;
}

.radio-button {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
}

input[type="radio"] {
	width: 1.5em; /* Increase width */
	height: 1.5em; /* Increase height */
	accent-color: #0066cc; /* Optional: Change color if supported */
}

#image-container {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
}

img {
	height: 32px;
	width: auto;
}

#arrow {
	font-size: 1.5rem;
}
